* { /* css keseluruhan web */
  font-family: "Outfit", sans-serif; /* mengubah font  */
}

body { /* style untuk tag body */
   margin: 0; /* digunakan untuk mengatur semua margin di luar elemen */
  padding: 0; /* menghilangkan padding di semua elemen */ 
  background-image: url(img/biru.png); /* mengubah LB */
  background-position: center; /* posisi gambar */
  background-size: cover ; /* mengatur ukuran gambar */
  background-attachment: fixed; /*berguna agar gambar latar belakang tetap pada posisi yg sama meski saat halaman di gulir */
}
  
nav ul { /* style bagian menu */
  background: yellow; /* warna background */
  list-style: none; /* untuk menghilangkan tanda tompel */
  padding: 10px; /* memberikan ruang */
  display: flex; /* agar tata letak menjadi sebaris */
  gap: 20px; /* memberikan jarak antar elemen */
}
  
nav ul li a { /* style teks pada menu */
  color: rgb(24, 3, 3); /* warna teks */
  text-decoration: none; /* mengilangkan garisbawah */
}

nav ul  a:hover{ /* efek ketika di klik */
  color: white; /* warna teks */
  background-color: black; /* warna background */
  padding: 10px; /* memberikan ruang */
  transition: 0.3s; /* efek jeda ketika di klik */
}
  

.container { /* css bagian badan */
  width: 500px; /* Sesuaikan lebar sesuai kebutuhan */
  padding: 20px; /* memberikan ruang */
}
  
.image { /* css untuk foto profil */
  float:left; /* agar foto di bagian kiri dan lanjut teks */
  width: 200px; /* Sesuaikan lebar foto sesuai kebutuhan */
  height: auto; /* ketinggian otomatis */
  margin-right: 10px; /* Tambahkan margin untuk spasi */
  border-radius: 150px; /* kelengkunagan pada foto */
}
  
.text { /* class bagian teks */
  font-size: 14px; /* ukuran teks */
  line-height: 10px; /* mengatur jarak antarteks */
  font-weight: bold; /* ketebalan teks */
}

.overview{ /* class bagian tentang diri */
  font-size: 20px; /* ukuran teks */
  line-height: 18px; /* jarak antar teks */
}

.card-container { /* class bagian badan card */
  display: flex; /* tata letak sebaris */
  gap: 20px; /* jarak antar card */
  flex-wrap: wrap; /* Agar card bisa masuk ke baris berikutnya jika tidak cukup ruang*/
}

.card { /* class card */
  margin-top: 20px; /* jarak atas */
  font-size: 20px; /* ukuran teks */
  background-color: white; /* warna LB */
  color: black; /* warna teks */
  width: 200px; /* lebar card */
  padding: 40px; /* memberikan ruang */
  text-align: center; /* teks di tengah */
  border-radius: 50px; /* kelengkungan card */
  box-shadow: 10px 10px 2px 2px rgba(0,0,0,0.5); /* bayangan card */
  margin-left: 30px; /* jarak kiri */
}

.card img { /* class card foto */
  width: 150px; /* lebar foto */
  height: 150px; /* tinggi foto */
}

.card:hover { /* efek ketika di klik */
  background-color: black; /* warna LB */
  color: white; /* warna teks */
  transition: 0.4s;  /* delay ketika diklik */
}

footer { /* css tag footer */
  background: linear-gradient(1deg, #82879c, blue ); /* warna background */
  color: #fff; /* warna teks */
  padding: 20px; /* memberikan ruang */
  position: absolute; /* untuk memisahkan dengan form */
  margin-top: 50px; /* jarak dari form */
  width: 100%; /* memperlebar luas */
  left: 0; /* agar tidak ada jarak di kiri */
}

.social-media a { /* class social-media tag a  */
  font-size: 40px; /* ukuran teks */
  display: inline-block; /* agar sejajar */
  text-decoration: none; /* menghilangkan garis bawah */
  padding: 5px; /* memberikan ruang */
}
