* { /* memilih semua yang ada di html */
    margin: 0; /* digunakan untuk mengatur semua margin di luar elemen */
    padding: 0; /* menghilangkan padding di semua elemen */
    font-family: "Outfit", sans-serif; /* mengubah font */
    text-decoration: noe; /* agar text tidak ada embel embel */
}

body { /* style untuk tag body */
  background-image: url(img/biru.png); /* mengubah LB */
  background-position: center; /* posisi gambar */
  background-size: cover ; /* mengatur ukuran gambar */
  background-attachment: fixed; /*berguna agar gambar latar belakang tetap pada posisi yg sama meski saat halaman di gulir */
}

nav ul { /* style bagian menu */
  background: yellow; /* warna background */
  list-style: none; /* untuk menghilangkan tanda tompel */
  padding: 10px; /* memberikan ruang */
  display: flex; /* agar tata letak menjadi sebaris */
  gap: 20px; /* memberikan jarak antar elemen */
}
  
nav ul li a { /* style teks */
  color: rgb(24, 3, 3); /* warna teks */
  text-decoration: none; /* mengilangkan garisbawah */
}

nav ul  a:hover{ /* efek ketika di klik */
  color: white; /* warna teks */
  background-color: black; /* warna background */
  padding: 10px; /* memberikan ruang */
  transition: 0.3s; /* efek jeda ketika di klik */
}

.video { /* css class video */
    border-radius: 50px; /* kelengkungan video */
    float: left; /* posisi video sebelah kiri */
    padding: 30px; /* memberikan ruang */
    width: 300px; /* mengatur lebar */
}

.teks { /* css class teks */
    text-align: center; /* teks ditengah */
    font-size: 14px; /* ukuran teks  */
    line-height: 15px; /* jarak antar teks */
    font-weight: bold; /* ketebalan teks */
    margin-top: 200px; /* jarak teks dari bawah */  
}

.teks p { /* css class teks tag p */
    background-color: white; /* warna teks */
    border-radius: 20px; /* kelengkungan teks */
    display: flex; /* tata letak teks */
    width: 300px; /* mengatur lebar */
}

h2 {
    display: flex; /* tata letak */
    margin-left: 450px; /* jarak dari kiri */
}

